<h1> <%=@question_count %> Questions</h1>

<ul>
  <% @questions.each do |question| %>
    <li><b><a href="/questions/<%= question.id %>"><%= question.question %></b></a> <br> ( Season: <%= question.season %> Episode: <%= question.episode %> ) </li>
  <% end %>
</ul>
